/* You can implement your own css code*/

#passwd_result{
	background:#FF9900;
	color:#FFFFFF;
	font-weight:bold;
	margin-right:60%;
}

#upload_result{
	background:#CC3300;
	color:#FFFFFF;
	font-weight:bold;
	margin-right:60%;
}

.commentBox{
    text-align: left;
    display: block;
    width: 100%;
    max-width: 700px;
    min-width: 500px;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 5px;
    margin-top: 8px;
    
}
.centerer{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}

.mediaWrapper{
    
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.messageBox{
        
    text-align: left;
    display: block;
    width: 100%;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 5px;
    margin-top: 8px;
}

.outgoing {
    background: #e0edfc;
}
